# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Server/.env
sql/pwsql1/pwsql1.sqlproj
sql/pwsql1/.vscode/tasks.json
sql/pwsql1/bin/Debug/pwsql1.dacpac
sql/pwsql1/bin/Debug/pwsql1.deps.json
sql/pwsql1/bin/Debug/pwsql1.dll
sql/pwsql1/bin/Debug/pwsql1.pdb
sql/pwsql1/obj/project.assets.json
sql/pwsql1/obj/project.nuget.cache
sql/pwsql1/obj/pwsql1.sqlproj.nuget.dgspec.json
sql/pwsql1/obj/pwsql1.sqlproj.nuget.g.props
sql/pwsql1/obj/pwsql1.sqlproj.nuget.g.targets
sql/pwsql1/obj/Debug/.NETStandard,Version=v2.1.AssemblyAttributes.cs
sql/pwsql1/obj/Debug/pwsql1.assets.cache
sql/pwsql1/obj/Debug/Model.xml
sql/pwsql1/obj/Debug/pwsql1.dll
sql/pwsql1/obj/Debug/pwsql1.GeneratedMSBuildEditorConfig.editorconfig
sql/pwsql1/obj/Debug/pwsql1.pdb
sql/pwsql1/obj/Debug/pwsql1.sourcelink.json
sql/pwsql1/obj/Debug/pwsql1.sqlproj.FileListAbsolute.txt
Server/personalwebsite-476922-90013c87f50c.json
Server/cloud-sql-proxy.exe
Server/Models/__pycache__/Blog.cpython-312.pyc
client/.env
client/package-lock.json
Server/__pycache__/App.cpython-310.pyc
