.header-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
      background: linear-gradient(135deg, #0c0c0c, #0e0000) padding-box,
              linear-gradient(45deg, #000000, #130101) border-box;
    border: 1px solid transparent;
    top: 0;
    width: 100%;
    z-index: 1000;

}
.title-header{
    padding-inline: 1rem;
    color: white;
    font-family:  "Archivo Black", sans-serif;;
}
.hamburger{
    padding-inline: 1rem;
    font-size: 1.5rem;
    color: white;
}
.hamburger:hover{
    cursor: pointer;
}
.title-span:hover{
    cursor: pointer;
}