.header-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid grey;
    top: 0;
    width: 100%;

}
.title-header{
    padding-inline: 1rem;
}
.hamburger{
    padding-inline: 1rem;
}
.hamburger:hover{
    cursor: pointer;
}